<header>

<div class="header row-display">

      <div class="navbar row-display">

        <div class="logo">Some Logo</div>

        <div>
            <label class="navbarItem"><a href="/">Home</a></label>

            <label class="navbarItem"><a href="/about">About</a></label>

          <label class="navbarItem">Send Money</label>

          <label class="navbarItem">
            <a href="/currencyConverter">Converter</a></label>

          <label class="navbarItem">Currency API</label>

          <label class="navbarItem">Tools</label>
        </div>

        <div class="row-display">

          <label id="login" class="darkButton">Sign In</label>
          <label id="register" class="lightButton">Register</label>

        </div>
      </div>



</header>
