
<body>
    <div class="paragraphDisplay">
    <h2>ABOUT</h2>
    <p>
        I began programming during the onset of the pandemic, when I committed to self-guided study focusing on Java.
         I did so by oscillating between theory and practice by following online courses, reading documentation,
          books on design patterns, and best practices for writing code, then applying concepts gained by developing personal projects.

        While working towards Bachelor of Arts with focus in Anthropology and Ethnomusicology I found great joy in academic
        writing, scholarly research, and collaborative work; joy that is now mirrored in the hours spent reading documentation,
         structuring and writing code, and working alongside other developers.

        I'm seasoned in working in a high pressure environment as a part of a team, learning and working across differences
        collaboratively to create new strategies and maintain workflow. When working with customers or coworkers, I see myself as a concierge,
         emphasizing developing relationships, understanding needs, and maintaining a deep knowledge base.

    </p>
</div>
</body>
