<body>
    <div>
        <div class="tableContainer">
            <div>
        <h4>Live Currency Rates</h4>
        <table id="left-table">
            <tr>
                <th>Currency</th>
                <th>Rate</th>
                <th>Change</th>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </div>
    </div>


        </table>
        <div class="tableContainer">
            <div>
        <h4>Central Bank Rates</h4>
        <table id="right-table" >
            <tr>
                <th>Currency</th>
                <th>Interest Rate</th>
            </tr>
            <tr>
                <td>JPY</td>
                <td>-10%</td>
            </tr>
            <tr>
                <td>CHF</td>
                <td>-25%</td>
            </tr>
            <tr>
                <td>EUR</td>
                <td>1.25%</td>
            </tr>
            <tr>
                <td>USD</td>
                <td></td>
            </tr>
            <tr>
                <td>CAD</td>
                <td></td>
            </tr>
            <tr>
                <td>AUD</td>
                <td></td>
            </tr>
            <tr>
                <td>NZD</td>
                <td></td>
            </tr>
            <tr>
                <td>GBP</td>
                <td></td>
            </tr>
        </div>
    </div>
        </table>
    </div>
</body>
