

    </div>

    <div class="formBox">
      <div class="tabNav">


        <div class="formBoxDisplay">
          <form>
            <input id type="text">


              <div id="left-dropdown"class="dropdown"></div>

              <div id="right-dropdown" class="dropdown"></div>


          <button type="submit">Convert</button>
        </div>
      </div>

    </div>

    <div class="lower row-display">

      <div class="currency-display">
        <div class="currency-list-header"></div>
        <div id="left-list" class="currency-list"></div>
      </div>

      <div class="currency-display">
        <div class="list-header"></div>
        <div id="right-list" class="currency-list"></div>
      </div>

    </div>


