<body>
    <div class="paragraphDisplay">
        <h3>Welcome Home...page</h3>
        <p>We have a currency converter here for you to try!</p>
        <button><a href="/currencyConverter">Click Here</a></button>
    </div>


</body>
